body{
    background: linear-gradient(180deg, black, rgb(65, 4, 14));
    color: hotpink;
}
#a{
    text-align: center;
}

#d1{
    text-align: center;
}

#c1{
    text-align: center;
}

#e1{
    text-align: center;
}

#e3{
    text-align: center;
}

#e5{
    text-align: center;
}

#f1{
    text-align: center;
}