body{
    
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1cm;
    border-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    background-image: url("C:/Users/MAHE/Pictures/bp5.jpg")
    
    
    
    
  
  
    
}

#third{
    text-align: center;
    color: rgb(12, 2, 22);
   
}

#fourth{
    text-align: center;
    font-size: large;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(17, 1, 4);
    
}

#first{
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    color: purple;
}

#eight{
    text-align: center;
    color: rgb(36, 2, 2);
}
#second{
    text-align: center;
    font-size:medium;
    word-spacing: 200px;
    background: linear-gradient(120deg,black,pink,white);
    
}
#sixone{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    
    color: rgb(219, 14, 45)
    
    ;
}
#seventh{
    
    text-align: center;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(72, 25, 202);
}
#sixth{
    text-align: center;
}

#fifth{
    text-align: center;
    font-weight: bolder;
}
#nine{
    word-spacing: 5cm;
    background-color: black;
}

#sevenone{
    font-size: large;
    font-weight: 900;
    text-align: center;
}
